*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    overflow-x: hidden;
}
header{
    position: relative;
    background: url(images/zany-jadraque-YLdC7qO9M3g-unsplash.jpg) no-repeat center center;
    background-size: cover;
    min-height: 95vh;
.icon{
    width:9%;
    cursor: pointer;
}
.sign{
    color:#4f99e5 !important;
}
   a{
    color: #24292fda;
        font-weight: 500;
    font-size: 18px;
    transition: all .5s ease-in;
    &:hover{
        color: #007bff !important; 
    }
   }
   .move{
    display: flex;
        min-height: inherit;
        align-items: center;
        button{
            font-size: 18px;
                text-align: center;
                background-color: #fcfcfd;
                color: #191919;
                border-left: 10px solid #599ee9;
                border-radius: 30px;
                border-right: 10px solid #599ee9;
                border-top: 4px solid #599ee9;
                border-bottom: 4px solid #599ee9;
        }
    h1{
      font-size: 46px;
      margin: 2rem 0;
      font-weight: bolder;
      color: white;
      span{
        color:#599ee9;
      } 
      
    }
         p {
             margin: 2.5rem 0;
             font-size:1rem;
             line-height: 1.5rem;
             letter-spacing: 1px;
         }
   }
}
.phone{
    button {
            font-size: 18px;
            text-align: center;
            background-color: #fcfcfd;
            color: #191919;
            border-left: 10px solid #599ee9;
            border-radius: 30px;
            border-right: 10px solid #599ee9;
            border-top: 4px solid #599ee9;
            border-bottom: 4px solid #599ee9;
        }
}
.group{
    background-color: #f2f7fd;
    padding: 2rem;
    h2{
        font-size:37px;
        text-transform: uppercase;
        font-weight: bolder;
        span{
            color:#599ee9;
        }
    }
        button {
            font-size: 18px;
            text-align: center;
            background-color: #fcfcfd;
            color: #191919;
            border-left: 10px solid #599ee9;
            border-radius: 30px;
            border-right: 10px solid #599ee9;
            border-top: 4px solid #599ee9;
            border-bottom: 4px solid #599ee9;
        }
}
.video{
    background: url(images/zany-jadraque-YLdC7qO9M3g-unsplash.jpg) no-repeat center center;
    background-size: cover;
    min-height: 85vh;
    h1 {
            font-size: 48px;
            margin: 2rem 0;
            font-weight: bolder;
            color: white;
    
            span {
                color: #599ee9;
            }
    }
         p {
             margin: 2.5rem 0;
             font-size: 1.4rem;
            //  line-height: 1.2rem;
            //  letter-spacing: 1px;
         }
                  button {
                      font-size: 18px;
                      text-align: center;
                      background-color: #fcfcfd;
                      color: #191919;
                      border-left: 10px solid #599ee9;
                      border-radius: 30px;
                      border-right: 10px solid #599ee9;
                      border-top: 4px solid #599ee9;
                      border-bottom: 4px solid #599ee9;
        }
        .cat{
            min-height: inherit;
            .dog{
                min-height: inherit;
            }
        }
        
}
.count{
    background-color:#f2f7fd;
    padding: 3rem 0;
    .words{
        width: 90%;
        margin-bottom: 15px;
        input{
            
            width: inherit;
            color: #000000;
            font-size: 18px;
            padding: 20px 20px 0px 0px;
            background: transparent;
            border: 0px;
            border-bottom: 1px solid #888686;
        }
    }
    .shap{
        background: #ed1c24;
            border: none;
            color: #faf9f9;
            width: 160px;
            height: 58px;
            font-size: 24px;
            padding-top: 3px;
            border-radius: 30px;
            margin-left: 15px;
            text-align: center;
            padding-top: 8px;
            margin-top: 60px;
    }
}
footer{
    background-color: rgb(41, 40, 40);
      color:white;
        padding-top: 30px;
        padding-bottom: 30px;
        h2{
            font-size: 28px;
            color: rgb(235, 235, 235);
            font-weight: bold;
            padding: 25px 0px;
        }
        p{
            font-size: 16px;
        }
        input{
            font-size: 12pt;
            color: #eceaea;
            background-color: #ffffff;
            padding: 10px;
            border: 0px;
        }
        button{
            font-size: 16pt;
            color: #eceaea;
            background-color: #599ee9;
            padding: 5px 12px;
            border: 0px;
            text-align: center;
            margin-top: 20px;
            font-weight: 600;
        }
}
.get {
    z-index: 1;
    position: fixed;
    background-color:#ececec;;
    left: 0;
    min-height: 100%;
    top: 0;
    width: 65%;
    
    ul{
            margin-top: 4rem;
                /* justify-content: space-around; */
                flex-direction: column;
                gap: 5rem !important;
                width: inherit;
                margin-inline: auto;
                text-align: center;
                a{
                        color: #24292f;
                            font-weight: 500;
                }
    }

}

.in{
animation: slideIn 1.3s forwards ease-in-out;
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 768px){
    header{
        min-height: 55vh;
    }
    .video{
        min-height: 67vh;
        h1{
            font-size:37px;
        }
    }
}
@media (min-width: 992px){
    .get {
            position: initial;
            background-color:white ;
            left: initial;
            min-height: 100%;
            top: 0;
            width: initial;
            ul{
                flex-direction: row;
                    gap: 1rem !important;
                    margin-top: 0;

            }
        }
    
    header {
            min-height: 95vh;
        }
    
        .video {
            min-height: 85vh;
    
            h1 {
                font-size: 48px;
            }
        }
}